# MkDocs
site/

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Node/JS (if present)
node_modules/
dist/

# OS/editor
Thumbs.db
.DS_Store
*.swp

# Local datasets (optional)
street_fighter/**/*.csv
Personal Finance/**/*.csv
